@media (max-width: 1024px) {
  main {
    display: block;
  }

  main div img {
    max-width: 100%;
  }
  .info {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .title {
    font-size: 4.8rem;
    margin-bottom: 3rem;
    line-height: 7rem;
    letter-spacing: -0.3rem;
  }

  .info {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: -0.05rem;
    width: 100%;
  }
}
