* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  max-width: 90%;
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 4rem 0 10rem 0;
}

header h1 {
  font-size: 2.4rem;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.2rem;
}

main {
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
}

main div {
  flex: 1;
}

main img {
  max-width: 54rem;
  height: auto;
}

main section {
  flex: 1;
}

.title {
  font-size: 6.4rem;
  line-height: 9.4rem;
  letter-spacing: -0.05rem;
  font-weight: bold;
  margin-bottom: 3.6rem;
}

.info {
  font-size: 2.4rem;
  line-height: 3.5rem;
  letter-spacing: -0.05rem;
  margin-bottom: 6.4rem;
  width: 60%;
}

.btn {
  font-size: 1.4rem;
  line-height: 2rem;
  border: none;
  background-color: #333;
  color: #fff;
  padding: 2.4rem 4.3rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(70, 70, 70);
}

footer {
  margin-top: auto;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 1.6rem;
}

@media (max-width: 1024px) {
  main {
    display: block;
  }

  main div img {
    max-width: 100%;
  }
  .info {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .title {
    font-size: 4.8rem;
    margin-bottom: 3rem;
    line-height: 7rem;
    letter-spacing: -0.3rem;
  }

  .info {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: -0.05rem;
    width: 100%;
  }
}
